<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <%- include('header'); %>
        <h1>Dashboard</h1>
        <div class="item-container">
            <div class="item">
                speed: <span id="wind"></span>
            </div>
            <div class="item">
                consumption: <span id="consumption"></span>
            </div>
            <div class="item">
                production: <span id="production"></span>
            </div>
            <div class="item">
                net production: <span id="net"></span>
            </div>
            <div class="item">
                buffer: <span id="buffer"></span>
            </div>
            <div class="item">
                price <span id="price"></span>
            </div>
            <div class="item">
                Over-production ratio <span id="overRatio"></span>
            </div>
            <div class="item">
                Under-production ratio <span id="underRatio"></span>
            </div>
            
        </div>

        <form id="ratioForm">
            Set over-production ratio: <input type="number" name="overRatio" min=0 max=1 step=0.05>
            Set under-production ratio: <input type="number" name="underRatio" min=0 max=1 step=0.05>
            <input type="submit" value="Submit">
        </form>
        
        <div class="profile-pic">
            <img src="<%=picture%>" alt="no picture found" onerror="this.src='/img/house.jpg';"> 
        </div>
        
        <script>

            const id = "<%= id%>"

            $("#ratioForm").submit((e)=>{
                e.preventDefault();
                ratios = {over: e.target[0].value, under: e.target[1].value};
                $("#overRatio").text(`${ratios.over}`);
                $("#underRatio").text(`${ratios.under}`);
                $.post('../data/ratio/', ratios);
            });

            var weather = null;
            var consumption = null;
            var price = null;
            var production = null;
            var k = .2;
            var production = null;
            var net = null;
            var buffer;
            var ratios;

            function update() {
                
                $.get("../data/weather/id", (data, status) => {            
                    weather = data;
                    $("#wind").text(`${weather.windspeed} ${weather.unit}`);

                    if (weather !== null){
                        production = {val: weather.windspeed * k, unit: 'kW'};
                        $("#production").text(`${production.val} ${production.unit}`);
                    }
                });

                $.get("../data/consumption", (data, status) => {
                    consumption = data;
                    $("#consumption").text(`${consumption.consumption} ${consumption.unit}`);
                    if (production !== null && consumption !== null) {
                        net = {val: production.val - consumption.consumption, unit: 'kW'};
                        $("#net").text(`${net.val} ${net.unit}`);
                    }
                });

                $.get("../data/price", (data, status) => {
                    price = data;
                    $("#price").text(`${price.price} ${price.unit}`);
                }); 

                $.get("../data/buffer", (data, status) => {
                    buffer = data;
                    $("#buffer").text(`${buffer.buffer} ${buffer.unit}`);
                })
            }

            function init() {
                $.get("../data/ratio", (data, status) => {
                    ratios = data;
                    $("#overRatio").text(`${ratios.over}`);
                    $("#underRatio").text(`${ratios.under}`);

                    setInterval(update, 5 * 1000);
                })
                
            }

            setTimeout(init);
        </script>



        <!--
        <h2>hello <%= name %></h2>
        <form action="/" method="POST" id="sendText">
            <input type="text" id="txt">
            <button>test</button>
        </form>
        <button id="update">update</button></br>
        consumption:<div class="meter"><span id="consumptionBar" class="bar"></span><span id="consumptionVal"></span></div>
        <p id="minmaxConsumption"></p>

        wind speed:<div class="meter"><span id="windBar" class="bar"></span><span id="windVal"></span></div>
        <p id="minmaxWind"></p>

        <script>
            var maxConsumption = Number.NEGATIVE_INFINITY;
            var minConsumption = Number.POSITIVE_INFINITY;
            var maxWind = Number.NEGATIVE_INFINITY;
            var minWind = Number.POSITIVE_INFINITY;

            function updateConsumption() {
                $.get("../data/consumption", (data, status) => {
                    if (data.consumption > maxConsumption) {
                        maxConsumption = data.consumption;
                    }else if (data.consumption < minConsumption){
                        minConsumption = data.consumption;
                    }
                    var rel = (data.consumption - minConsumption) / (maxConsumption - minConsumption);
                    $("#minmaxConsumption").text(minConsumption + ", " + maxConsumption);
                    $("#consumptionVal").text(data.consumption);
                    $("#consumptionBar").stop(false, true);
                    $("#consumptionBar").animate({width: rel * 100 + "%"}, "fast");
                });
            }

            function updateWind() {
                $.get("../data/weather", (data, status) => {
                    if (data.windspeed > maxWind) {
                        maxWind = data.windspeed;
                    }else if (data.windspeed < minWind){
                        minWind = data.windspeed;
                    }
                    var rel = (data.windspeed - minWind) / (maxWind - minWind);
                    $("#minmaxWind").text(minWind + ", " + maxWind);
                    $("#windVal").text(data.windspeed);
                    $("#windBar").stop(false, true); // stop the previous animation to prevent the animation queue from building up
                    $("#windBar").animate({width: rel * 100 + "%"}, "fast");
                });
            }

            // if this is moved to a separate file to clean up, then encase code in : $(document).ready(function(){ code }
            $("#sendText").submit( (e) =>{
                e.preventDefault();
                $("body").css("background", $("#txt").val());
            });

            $("#update").click(()=>{
                updateConsumption();
                updateWind();
            });
            updateConsumption();
            updateWind();
            setInterval(updateConsumption, 10000);
            setInterval(updateWind, 10000);
        </script>
    -->
    </body>
</html>