<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="../../socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:3000');
            socket.on('msg', function (data) {
                console.log(data.msg);
            });

            socket.on('userConnect', function (data) {
                console.log("connect");
                console.log(data);
            });

            socket.on('userDisconnect', function (data) {
                console.log("disconnect");
                console.log(data);
            });
          </script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <%- include('header'); %>
        <div class="content">
            <h1>Powerplant</h1>
            <div class="item-container">
                <div class="item">
                    production: <span id="production"></span>
                </div>
                <div class="item">
                    status: <span id="status"></span>
                </div>
                <div class="item">
                    market demand: <span id="demand"></span>
                </div>
                <div class="item">
                    electricity price: <span id="price"></span>
                </div>
                <div class="item">
                    modeled electricity price: <span id="modeledPrice"></span>
                </div>
                <div class="item">
                    buffer: <span id="buffer"></span>
                </div>
                <div class="item">
                    ratio: <span id="ratio"></span>
                </div>
            </div>
            <hr>
            <div>
                <p id="input_error"></p>
                Target production <input type="number" min="0" max="1000" placeholder="0-1000" id="target_production"> kW<br>
                <button id="start_button">START/UPDATE</button>
                <button id="stop_button">STOP</button>
            </div>
            <hr>
            <div>
                <p>Set a new electricity price</p>
                <p id="price_input_error"></p>
                Set price <input type="number" min="0" placeholder="price" id="price_input"> öre/kWh<br>
                <button id="set_price_button">Set Price</button>
            </div>
            <hr>

            <div>
                <p>Control the ratio of how much of the electricity is sold to the market and how much is put in the buffer</p>
                <form id="ratioForm">
                    Set ratio: <input type="number" name="overRatio" min=0 max=1 step=0.05>
                    <input type="submit" value="Submit">
                </form>
            </div>
            
            <hr>
            <div class="profile-pic">
                <img src="<%=picture%>" alt="no picture found" onerror="this.src='/img/house.jpg';">
            </div>

            <div class='item-container'>
                <ul>
                <% for (var i = 0; i < prosumers.length; i++) { %>
                    <li class="item" id="<%= prosumers[i].id %>"><a href='/dashboard/:<%= prosumers[i].id %>'><%= prosumers[i].username %></a>
                        Online: <span class='online'>No.</span>
                        Outage: <span class='outage'>No.</span></li>
                <% } %>
                </ul>
            </div>
        </div>
        

        <script>

            const id = "<%= id%>";


            // start, stop, set production of plant
            $("#start_button").click((e) => {
                let target = $("#target_production")[0].valueAsNumber;
                if (!isNaN(target) && target >= 0 && target <= 1000) {
                    $.post("../data/powerplant/update", {target: target}, (e) => {
                        console.log(e);
                        if (e.status) {
                            $("#status").text(`${e.status}`);
                        }
                    });
                }
            });

            $("#stop_button").click((e) => {
                $.post("../data/powerplant/update", {target: 0}, (e) => {
                    console.log(e);
                   
                });
            });

            $("#target_production").on('input', (e) => {
                let target = $("#target_production")[0].valueAsNumber;

                if (target < 0){
                    $("#input_error").text("number is to small");
                }else if (isNaN(target)){
                    $("#input_error").text("please enter a number");
                }else if (target > 1000){
                    $("#input_error").text("number is to large");
                }else{
                    $("#input_error").text("");
                }
            });

            // price input
            $("#price_input").on('input', (e) => {
                let target = $("#price_input")[0].valueAsNumber;

                if (isNaN(target)){
                    $("#price_input_error").text("please enter a number");
                }else{
                    $("#price_input_error").text("");
                }
            });

            $("#set_price_button").click((e) => {
                let price = $("#price_input")[0].valueAsNumber;
                if (!isNaN(price)) {
                    $.post("../data/price", {price: price}, (e) => {
                        console.log(e);
                        if (e.price) {
                            $("#price").text(`${e.price} ${e.unit}`);
                        }
                    });
                }
            });

            $("#ratioForm").submit((e)=>{
                e.preventDefault();
                ratio = {ratio: e.target[0].value};
                $("#ratio").text(`${ratio.ratio}`);
                $.post('../data/powerplant/ratio', ratio);
            });



            
            var price = null;
            var production = null;
            var status = null;
            var demand = null;
            var modeledPrice = null;
            var buffer = null;
            var ratio = null;
            

            function update() {
                
                $.get("../data/powerplant/status", (data, status) => {
                    status = data;
                    $("#status").text(`${status.status}`);
                });  

                $.get("../data/model/price", (data, status) => {
                    modeledPrice = data;
                    $("#modeledPrice").text(`${modeledPrice.price} ${modeledPrice.unit}`);
                }); 
                
                $.get("../data/price", (data, status) => {
                    price = data;
                    $("#price").text(`${price.price} ${price.unit}`);
                });  

                $.get("../data/demand", (data, status) => {
                    demand = data;
                    $("#demand").text(`${demand.val} ${demand.unit}`);
                }); 

                $.get("../data/powerplant/production", (data, status) => {
                    production = data;
                    $("#production").text(`${production.production} ${production.unit}`);
                }); 

                $.get("../data/powerplant/ratio", (data, status) => {
                    ratio = data;
                    $("#ratio").text(`${ratio.ratio}`);
                }); 

                $.get("../data/powerplant/buffer", (data, status) => {
                    buffer = data;
                    $("#buffer").text(`${buffer.buffer} ${buffer.unit}`);
                }); 
            }

            update();
            setInterval(update, 5000); 
        </script>



        
    </body>
</html>